.HostPropertyDetailsMenu {
    margin: 20px 0;
}

.HostPropertyDetailsMenu-item {
    list-style: none;
    border: 1px solid #e6e6e6;
    border-right: none;
    padding: .3rem .6rem;
    display: inline-block;
}

.HostPropertyDetailsMenu-item:last-child {
    border-right: 1px solid #e6e6e6;
}

.HostPropertyDetailsMenu--label {
    font-size: .8rem;
    color: #3e5241;
    text-transform: none;
}

.HostPropertyDetailsMenu--label:hover {
    color: #3e5241;
}

.HostPropertyDetailsMenu-item-active, .HostPropertyDetailsMenu-item:hover {
    background: rgba(0, 0, 0, 0.05);
}
