@import '../../../../scss/_settings.scss';

.EventListing-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    margin-top: 3rem;
}

.EventListing--item {
    margin-bottom: 30px;
    float: left;
}

.EventListing--item:nth-child(4n+1) {
    clear: both;
}

.EventHeader {
    margin-top: 3rem;
    padding: 0 5px;
}

.EventHeader-menu {
    display: inline-block;
    width: auto;
    padding: 0.5rem 0.65rem;
    margin: 0;
    background: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.4;
    color: #fe5459;
}

.EventHeader-menu--active {
    color: #FFF !important;
    background: #fe5459;
}

.EventHeader-button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0.65em 1em 0.6em;
    font-size: 0.9rem;
    color: #fefefe;
    border: 1px solid #fe5459;
    color: #fe5459;
    float: right;
    @include breakpoint(small) {
        width: 100%;
    }
    @include breakpoint(small) {
        width: auto;
    }
}

.EventHeader-button:hover, .EventHeader-button--active {
    border-color: #a80106;
    color: #a80106;
}
