@import '../../../../scss/_settings.scss';

.ForgotPasswordModal__header {
   padding: 4rem 2rem 1rem;
   color: $logo-color;
   display: table-cell;
   width: 35%;
   vertical-align: top;
   padding-top: 1rem;
}

.ForgotPasswordModal__title {
    line-height: 1;
}


.ForgotPasswordModal__body {
    color: $body-font-color;
}

.ForgotPasswordModal__spacer {
  margin: $global-margin/2 0;
}

.ForgotPasswordModal {
    .Modal__close-button {
        display: none;
    }
}
