@import '../../../../scss/_settings.scss';

.search__filter__sidebar
{
  margin: $global-margin 0 0;
  // padding: 0 !important;

  @include breakpoint(medium)
  {
    margin-top: $global-margin*2;
  }
}

.search__housing
{
  @include clearfix;
  padding: $global-padding/2;

  .section-title
  {
    padding-top: 0;
  }

  .search__filter
  {
    padding: 0;
  }
}

.search-summary
{
  display: none;
  margin-bottom: $global-margin;
  font-size: 0.75rem;
  line-height: 1.2;

  p, .button
  {
    margin-bottom: 0rem;
  }

  .row>div:last-child
  {
    text-align: right;
  }
}
.side__bar {
  .search__filter {
    margin: 0;
    z-index: 0;
  }
}
.side__bar .search__housing
{
  padding: 0;
}

.search__filter
{
  position: relative;
  @include clearfix;
  @include grid-col(12);
  @include grid-column-position(center);
  float: none;

  .search-section
  {
    margin-bottom: $global-margin;
  }

  .button
  {
    font-weight: $global-weight-bold;
  }

  .city-select
  {
    &>div
    {
      position: relative;
      @include clearfix;
    }
  }

  .big-city-selector
  {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: $global-margin/2;
    box-shadow: 0 5px 10px $dark-gray;
    color: $body-font-color;

    &.upwards
    {
      bottom: 100%;
      margin-bottom: $global-margin;
      left: 0;
      right: 0;
      top: auto;
    }
  }

  label
  {
    font-weight: $global-weight-semi;
    margin-bottom: 0.25rem;
  }

  input, select, button, input[type=checkbox]+label
  {
    font-size: 1rem;
    font-weight: $global-weight-normal;
    line-height: 1.3;
  }

  input, select, button, input[readonly]
  {
    background-color: $input-background;
    border: 0;
    padding: 0.9rem 1.2rem;
    height: auto;
    margin-bottom: 0;
    border-radius: 0;
  }

  input, select
  {
    &:focus
    {
      border: 0;
      background-color: lighten($warning-color, 35);
    }
  }

  input[type=submit]
  {
    background: $primary-color;
  }

  select.guest-select
  {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJdJREFUOI290jsKwkAUheFPm2QTrlV7bQSzAN2BbsPNJFoE0sQikcBkBjOCHrgwHO783Bc/UokKNR7ju8wBVOiDOOUA6gigiSWuEoA+4c/y1zllxZQCPCNetIUU4BLxzksqeqs0TL0xDPSIIgfwtTbY4Y7WtMJ29LZjzkwFDujM9x9Gh72gpduCj2FcmQ4jdTiflDrEP+oFPIY1hg+IHi4AAAAASUVORK5CYII=');
    background-size: 14px 14px;

    &:focus
    {
      outline: none;
    }
  }

  button
  {
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.9rem;
    width: 100%;
    background-color: $primary-color;
  }

  .city-select
  {
    @include grid-col(12, 0);
    padding: 0 2px 4px;

    input:focus + .big-city-selector
    {
      display: block;
    }
  }

  .options-select
  {
    @include grid-col(12, 0);

    fieldset
    {
      @include grid-row;

      &>div
      {
        @include grid-col(4, 4px);

        &.half
        {
          @include grid-col-size(2);
        }
      }
    }
  }
}

.search__filter__panel
{
  border-top: $hr-border;

  fieldset
  {
    display: block;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    border-bottom: 1px solid $medium-gray;

    &>small
    {
      display: block;
      line-height: 1.3;
      margin: 0.5rem 0;
    }
  }

  .box
  {
    background: $white;
    border: 1px solid $light-gray;
    padding: 0.5em;
    margin: 0 -0.5rem 0.25em;

    label
    {
      margin-bottom: 0;
    }
  }

  .checkbox
  {
    display: block;
    line-height: 1;
    margin: 0.5rem 0;

    input[type=checkbox]
    {
      vertical-align: top;
      margin-top: 0.3em;
    }

    label
    {
      small
      {
        display: block;
        color: $header-small-font-color;
      }
    }
  }

  .dropdown
  {
    margin: 0.5rem 0;

    small
    {
      display: block;
      padding: 0.25rem 0;
    }
  }

  select
  {
    font-size: 0.85rem;
    height: auto;
    padding: 0.45rem 1.8rem 0.4rem 0.6rem;
    border-radius: $global-radius;
    border: 1px solid $light-gray;

    &:focus
    {
      outline: none;
      border: 1px solid rgba(desaturate($warning-color, 40), 0.4);
    }
  }
}

.big-city-selector
{
  background: $white;
  border: 1px solid rgba($black, 0.2);
  border-radius: $global-radius;
  padding: 0.6rem;

  ul
  {
    list-style: none;
    margin: 0;

    @include grid-layout(1, 'li');

    li
    {
      cursor: pointer;
      padding: 0.4rem;
      border-radius: $global-radius*2;

      .icon
      {
        width: $avatar-size/2;

        img
        {
          border-radius: $global-radius*2;
          width: 100%;
        }
      }

      .info
      {
        padding-left: 0.5rem;
        strong, small
        {
          display: block;
          line-height: 1.2;
        }
      }

      &:hover
      {
        background: $light-gray;
      }
    }
  }
}

.icon-select
{
  .row>div:last-child:not(:first-child)
  {
    float: left;
  }

  &.icon-select-small
  {
    margin-bottom: 0.5rem;

    .row>div
    {
      padding-left: gridColumnGutter(medium)/4;
      padding-right: gridColumnGutter(medium)/4;
    }
  }

  @include breakpoint(small only)
  {
    &.icon-select-small
    {
      .row>div
      {
        padding-left: gridColumnGutter(small)/4;
        padding-right: gridColumnGutter(small)/4;
      }
    }
  }
}

.icon-option
{
  display: block;
  text-align: center;
  padding: $global-padding/2 0;

  svg
  {
    fill: $body-font-color;
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(1px 6px 16px rgba($black, 0.6));
  }

  strong
  {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 1.2;
  }

  // variations

  &.icon-option-small
  {
    padding: 0;

    strong
    {
      font-size: 0.7rem;
    }

    svg
    {
      width: 2rem;
      height: 2rem;
    }
  }

  &.icon-checkbox
  {
    input[type=checkbox]
    {
      display: none;
    }

    label
    {
      margin: 0;
      color: $body-font-color;

      strong
      {
        margin: 0;
        width: 100%;
      }
    }
  }

  // states

  &.selected, &.icon-checkbox input[type=checkbox]:checked+label
  {
    color: $primary-color;

    svg
    {
      fill: $primary-color;
    }
  }
}

label.icon-option
{
  display: block;
  color: $body-font-color;
  margin: 0;
}

input[type=checkbox]:checked+.icon-option
{
  color: $primary-color;

  svg
  {
    fill: $primary-color;
  }
}

@include breakpoint(small only)
{
  .search-summary
  {
    display: block;
  }

  .search__filter__sidebar
  {
    // display: none;
  }

  .search__filter
  {
    input, select, button, input[type=checkbox]+label
    {
      font-size: 16px;
      font-weight: $global-weight-normal;
      line-height: 1.3;
    }

    input, select, button, input[readonly]
    {
      padding: 0.8rem 0.6rem;
    }
  }

  .big-city-selector
  {
    font-size: 0.85rem;
    padding: 0;

    ul li
    {
      padding: 0.25rem 0.5rem;

      &:first-of-type
      {
        padding-top: 0.5rem;
      }

      &:last-of-type
      {
        padding-bottom: 0.5rem;
      }

      .icon
      {
        width: 1.5rem;
      }
    }
  }
}

@include breakpoint(medium)
{
  // .search__filter
  // {
  //   @include grid-col-size(10);
  //
  //   .city-select, .options-select
  //   {
  //     @include grid-col-size(6);
  //   }
  // }

  .search__filter__panel
  {
    background: $white;
    border-top: none;
    padding: 0.5rem;
    box-shadow: 0 1px 3px $medium-gray;

    fieldset
    {
      border-bottom-color: $light-gray;

      &:first-child
      {
        margin-top: 0;
      }
    }

    .checkbox
    {
      line-height: inherit;
    }
  }

  .big-city-selector
  {
    ul
    {
      @include grid-layout(2, 'li');
    }
  }
}

@include breakpoint(large)
{
  // .search__filter
  // {
  //   @include grid-col-size(9);
  // }

  .big-city-selector.full-size
  {
    ul
    {
      @include grid-layout(3, 'li');
    }
  }
}
