@import '../../../../scss/_settings.scss';

.UserQuote {
    font-size: 0.8rem;
    font-family: ProximaNova;
    text-align: left;
    display: flex;
    align-items: center;
    p, q {
        margin-bottom: 0.2rem;
    }
    div.block {
      padding: 15px; 
    }

    .quote-block {
        border-left: 1px solid #dcdcdd;
    }



}

.UserQuote_name {
    font-size: 1rem;
    font-weight: $global-weight-semi;
    margin-bottom: 0.2rem;
    em {
        font-size: 80%;
        font-family: $header-font-family;
        font-weight: $global-weight-normal;
        color: $header-small-font-color;
    }
}
