label.HostBookableDetails-label {
    font-weight: 600;
}
span.HostBookableDetails-label {
    font-weight: 500;
}
.HostBookableDetails-row {
    botder-bottom: 1px solid #CCC;
}

.booking__accordion .HostBookableDetails-row__hr {
    padding: 0;
    margin: 15px 0;
}
