@import '../../../../scss/_settings.scss';

.SignupForm__username_fieldset {
    & > .InputField {
        display: inline-block;
        width: 50%;
    }
}

.SignupVerifyPhone__links {
    padding: $global-padding/4;
    display: inline-block;
}

.SignupForm__separator {
    margin: 0.25rem;
    font-weight: $global-weight-medium;

    p {
        margin-bottom: 0.25rem;
    }
}

.SignupForm__separator__content {
    font-size: 120%;
    text-transform: capitalize;
}
