<section>
    <div class="row">
        <form class="search-filter">
            <city-selector cities="cities" filter="filter"></city-selector>
            <div class="options-select">
                <fieldset class="check-in-out">
                    <date-range filter='filter'></date-range>
                    <div class="half">
                        <select class="guest-select" id="guest" ng-model='filter.guest' ng-options="n as n for n in [] | range:1:8 track by n">
                        </select>
                    </div>
                    <div class="half">
                        <button class="button" type="submit" ng-click='search()'><i class="icon-search"></i>
                        </button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</section>
